# Node & Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Android & Gradle
.gradle/
build/
android/app/build/
android/.gradle/
*.apk
*.aab
local.properties

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Environment & Temp
.env
.env.*
!.env.example

# Kotlin
.kotlin/
*.iml
